.create-todo-layout {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-todo-layout__title {
  text-align: center;
}

.create-todo-task-name {
  width: 50vw;
}

.create-todo-task-name > label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.create-todo-task-name > input {
  display: block;
  width: 100%;
  height: 2rem;
}

.create-todo-link {
  text-decoration: none;
}

.create-todo-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.create-todo-form {
  margin: auto;
}

.create-todo-form__button {
  display: inline-block;
  width: 45%;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.create-button {
  background: rgb(142, 245, 142);
}

.exit-button {
  background: rgb(248, 86, 86);
}
